.photo-grid__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(361px, 1fr));
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    justify-items: center;
}