/* .root{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    font-family: 'Inter', Arial, sans-serif;
} */

/* Секция Header */
/* .header{
    margin: 0 auto;
    padding-top: 45px;
    max-width: 880px;
    border-bottom: 1px solid #545454;
}

@media screen and (min-width: 320px) and (max-width: 1279px){
    .header{
        max-width: 320px;
        padding-top: 28px;
    }
}

.header__logo{
    width: 142px;
    height: 33px;
    margin-bottom: 41px;
}

@media screen and (min-width: 320px) and (max-width: 1279px){
    .header__logo{
        width: 103.74px;
        height: 24.4px;
        margin-bottom: 31.6px;
        margin-left: 27px;
    }
} */

/* Секция Profile */
/* .profile{
    max-width: 880px;
    padding-top: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
}

@media screen and (min-width: 320px) and (max-width: 1279px){
    .profile{
        max-width: 282px;
        padding-top: 42px;
        flex-direction: column;
    }
} */

/* .profile__info{
    display: flex;
}

@media screen and (min-width: 320px) and (max-width: 1279px){
    .profile__info{
        flex-direction: column;
        align-items: center;
    }
} */

/* .profile__bio{
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: center;
    justify-items: start;
    align-items: center;
    grid-template-areas: 
    "name editButton"
    "about about";
    grid-row-gap: 16px;
}

@media screen and (min-width: 320px) and (max-width: 1279px){
    .profile__bio{
        margin: 0;
        margin-top: 26px;
        justify-items: center;
        grid-row-gap: 14px;
    }
} */

/* .profile__image{
    max-width: 120px;
    border-radius: 50%;
    display: block;
} */

/* .profile__name{
    margin: 0;
    padding: 0;
    grid-area: name;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 1279px){
    .profile__name{
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 1.22;
    }
} */

/* .profile__about{
    margin: 0;
    padding: 0;
    grid-area: about;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 1279px){
    .profile__about{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
    }
} */

/* .profile__edit-button{
    width: 24px;
    height: 24px;
    padding: 0;
    grid-area: editButton;
    margin-left: 18px;
    transition: opacity 0.3s ease;
    align-self: start;
    margin-top: 15px;
    background: none;
    display: flex;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.profile__edit-button:hover{
    opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 1279px){
    .profile__edit-button{
        width: 18px;
        height: 18px;
        margin-left: 10px;
        margin-top: 8px;
    }
} */

/* .profile__edit-icon{
    margin: auto;
    width: 10px;
    height: 10px;
}

@media screen and (min-width: 320px) and (max-width: 1279px){
    .profile__edit-icon{
        width: 7.5px;
        height: 7.5px;
    }
} */

/* .profile__add-button{
    width: 150px;
    height: 50px;
    background: none;
    display: flex;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.profile__add-button:hover{
    opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 1279px){
    .profile__add-button{
        width: 282px;
        height: 50px;
        margin-top: 36px;
    }
} */

/* .profile__add-icon{
    margin: auto;
    width: 22px;
    height: 22px;
}

@media screen and (min-width: 320px) and (max-width: 1279px){
    .profile__add-icon{
        width: 16px;
        height: 16px;
    }
} */

/* Секция photo-grid */
/* .photo-grid{
    max-width: 880px;
    margin: 0 auto;
    padding-top: 51px;
    background-color: #000000;
}

@media screen and (min-width: 320px) and (max-width: 1279px){
    .photo-grid{
        padding-top: 36px;
    }
} */

/* .photo-grid__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(361px, 1fr));
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    justify-items: center;
} */

/* .photo-grid__element{
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 282px;
    grid-template-rows: 282px 79px;
} */

/* .photo-grid__figure{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
} */

/* .photo-grid__image{
    max-width: 282px;
    height: 282px;
    width: 100%;
    object-fit: cover;
} */

/* .photo-grid__caption-container{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
} */

/* .photo-grid__title{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
} */

/* .photo-grid__like-button{
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.photo-grid__like-button:hover{
    opacity: 0.5;
} */

/* Секция Footer */
/* .footer{
    max-width: 880px;
    padding-top: 67px;
    padding-bottom: 60px;
    margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 1279px){
    .footer{
        max-width: 282px;
        padding-top: 48px;
        padding-bottom: 36px;
    }
} */

/* .footer__copyright{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #545454;
}

@media screen and (min-width: 320px) and (max-width: 1279px){
    .footer__copyright{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
    }
} */

/* Попап редактирования профиля */
/* .popup{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
} */

/* .popup_opened{
  display: block;  
} */

/* .popup__window{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .popup__content{
    max-width: 430px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
    padding: 34px 36px 37px;
}

@media screen and (min-width: 320px) and (max-width: 610px){
    .popup__content{
        max-width: 282px;
        padding: 25px 22px;
    }
} */

/* .popup__close-button{
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.popup__close-button:hover{
    opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 610px){
    .popup__close-button{
        width:20px;
        height:20px;
        top: -36px;
        right: 0;
    }
} */

/* .popup__close-icon{
    width: 32px;
    height: 32px;
}

@media screen and (min-width: 320px) and (max-width: 610px){
    .popup__close-icon{
        width: 20px;
        height: 20px;
    }
} */

/* .popup__title{
    margin: 0;
    padding: 0;
    color: #000000;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 47px;
}

@media screen and (min-width: 320px) and (max-width: 610px){
    .popup__title{
        margin-bottom: 75px;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 1.22;
    }
} */

/* .popup__edit-form{
    max-width: 358px;
}

@media screen and (min-width: 320px) and (max-width: 610px){
    .popup__edit-form{
        max-width: 238px;
    }
} */

/* .popup__edit-input{
    margin: 0;
    padding: 0 0 8px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    max-width: 358px;
    width: 100%;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    margin-bottom: 30px;
    color: #000000;
}

.popup__edit-input:last-of-type{
    margin-bottom: 0;
} */

/* .popup__button-save{
    width: 358px;
    height: 50px;
    margin-top: 48px;
    background-color: #000000;
    border: none;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s ease;

    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
}

.popup__button-save:hover{
    opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width: 610px){
    .popup__button-save{
        width: 238px;
        height: 46px;
        margin-top: 45px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
    }
} */

/* .popup__button-text{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
} */