.popup__button-save_disabled{
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
    cursor: default;
    opacity: 0.3;
}

.popup__button-save_disabled:hover{
    opacity: 0.3;
}
